:root {
  --clr-main: #f1f2f6;
  --clr-primary: #1890ff;
  --clr-secondary: #001529;
}

::before,
::after,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
img {
  display: block;
  width: 100%;
}

body {
  height: 100vh;
}

/* change to antd items */
.ant-col.ant-form-item-label {
  padding: 0 0 1px !important;
  font-weight: bold !important;
}

.ant-menu-item {
  display: flex !important;
  align-items: center !important;
}

/* notification-hover */
li[id]:hover {
  background-color: var(--clr-primary) !important;
  color: #fff !important;
}

/* go back icon-hover */
#back:hover {
  color: var(--clr-primary);
  transition: all linear 0.3s;
}
